@using RHAds.Models.Areas


<tr data-id="@Model.AreaId">

    <td class="text-center area-nombre">@Model.Nombre</td>

    <td class="text-center area-descripcion">@Model.Descripcion</td>

    <td class="text-center area-activo">
        <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   onchange="toggleActivoArea(@Model.AreaId, this.checked)"
                   @(Model.Activo ? "checked" : "")>
        </div>
    </td>

    <td class="text-center area-actions-1">
        <a href="/Admin/Slides?areaId=@Model.AreaId" class="btn btn-primary btn-sm rounded-pill"><i class="bi bi-file-earmark-easel-fill"></i></a>
        <a href="/Admin/EditorLayout?areaId=@Model.AreaId" class="btn btn-info btn-sm rounded-pill"><i class="bi bi-columns-gap"></i></a>
        <a href="/Admin/Fullscreen?areaId=@Model.AreaId" class="btn btn-dark btn-sm rounded-pill" target="_blank"><i class="bi bi-fullscreen"></i></a>
    </td>

    <td class="text-center area-actions-2">
        <button class="btn btn-warning btn-sm rounded-pill" onclick="openEditArea(@Model.AreaId)"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger btn-sm rounded-pill" onclick="openDeleteArea(@Model.AreaId, '@Model.Nombre')"><i class="bi bi-trash-fill"></i></button>
    </td>

</tr>